#app{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #fff;
}

/* 在你的全局样式表中 */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  /* 其他全局样式 */
}